node_modules
# Keep environment variables out of version control
.env*
package-lock.json
yarn.lock

.DS_Store
.cache
.vercel
.output
.cursor
.nitro
.tanstack
/build/
/dist/
/api/
/server/build
/public/build
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
